/**
 * This support file is used to style the WYSIWYG editor in the CMS
 */

#bodyHome{
	background-image: url('/assets/Uploads/background-pink-gradient.png');
	background-color: #e1477e;
	height: 100%;
	position: absolute;
	display: block;
	width: 100%;
	float: left;
	left: 0;
	top: 0;
	background-position: bottom;
	background-repeat: repeat-x;
  .mainImage {
  	height: 100%;
  	float: right;
  }
  .mainImage img {
  	height: 100%;
  	position: absolute;
  	right: -151px;
  	top: 0;
  	border: none;
  }
  .columnLeft .Title1 {
    font-family: $fontProximaCondLight;
    color: white;
    display: inline-block;
    font-size: 7em;
    position: absolute;
    width: 25%;
    top: 136px;
    padding: 0px;
    left: 124px;
  }
  .columnLeft .Title2 {
    color: #f7d501;
    display: block;
    font-size: 7em;
    position: absolute;
    padding: 0px;
    font-family: $fontProximaBold;
    left: 124px;
    top: 226px;
  }
  .columnLeft .SubTitle {
    display: block;
    font-size: 23px;
    color: white;
    position: absolute;
    top: 53%;
    left: 4%;
  }
  .columnLeft .featureVideo {
  	padding: 10px;
    width: 394px;
    height: 229px;
    display: block;
    background-color: gray;
    position: absolute;
    left: 11%;
    top: 60%;
  }
}