/**
 * This support file is used to style the WYSIWYG editor in the CMS
 */

#bodyHome{
	background-color: white;
	height: 100%;
	position: absolute;
	display: block;
	width: 100%;
	float: left;
	left: 0;
	top: 0;
}