/*!
This CSS resource incorporates links to font software which is
the valuable copyrighted property of Monotype Imaging and/or
its suppliers. You may not attempt to copy, install, redistribute, convert,
modify or reverse engineer this font software. Please contact Monotype Imaging
with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/

// The default fallback font for the site. System fonts only here
$fontDefault: Helvetica, Verdana, Arial, sans-serif;

// Additional system fonts
$fontArial: Arial, sans-serif;


/**
 * External fonts are defined here. Put them in the /css/fonts directory. 
 * Google and other web hosted fonts are defined below
 */
/*
$fontRounded: "HelveticaW01-RoundedBd", $fontDefault;
@font-face{
    font-family:"HelveticaW01-RoundedBd";
    font-weight:bold;
    font-style:normal;
    font-variant:normal;
    src:url("/css/Fonts/79e78e0d-1e3d-4298-8913-6f12cf008e7d.eot?iefix") format("eot");
}
@font-face{
    font-family:"HelveticaW01-RoundedBd";
    font-weight:bold;
    font-style:normal;
    font-variant:normal;
    src:url("/css/Fonts/79e78e0d-1e3d-4298-8913-6f12cf008e7d.eot?iefix");
    src:
        url("/css/Fonts/c280ced9-704c-46b2-a66a-aff7ee1627bf.woff") format("woff"),
        url("/css/Fonts/548e8c1d-b37a-43af-b197-a35e2f0c3d2f.ttf") format("truetype"),
        url("/css/Fonts/5e9b82e3-aa53-4064-b984-f49aa751081d.svg#5e9b82e3-aa53-4064-b984-f49aa751081d") format("svg");
}
*/



/**
 * Google hosted fonts. Include the include script in your page header file and
 * then reference the font name here
 */
//$fontFlamenco: 'Flamenco', $fontDefault;
$fontProximaRegular: "Proxima N W01 Reg", $fontDefault;
@font-face{
font-family:"Proxima N W01 Reg";
src:url("../Fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
src:url("../Fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("../Fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("../Fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),url("../Fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}

$fontProximaSemiBold: "Proxima N W01 Smbd", $fontDefault;
@font-face{
font-family:"Proxima N W01 Smbd";
src:url("../Fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
src:url("../Fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),url("../Fonts/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),url("../Fonts/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype"),url("../Fonts/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c") format("svg");
}

$fontProximaBold: "Proxima N W01 Bold", $fontDefault;
@font-face{
font-family:"Proxima N W01 Bold";
src:url("../Fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
src:url("../Fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),url("../Fonts/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),url("../Fonts/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),url("../Fonts/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
}

$fontProximaExtraBold: "Proxima N W01 Xbold", $fontDefault;
@font-face{
font-family:"Proxima N W01 Xbold";
src:url("../Fonts/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix");
src:url("../Fonts/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix") format("eot"),url("../Fonts/19dd5cf2-ac2d-48d5-901a-c432fd291ee2.woff") format("woff"),url("../Fonts/22cfbfa4-f607-4751-92eb-6fa194353e57.ttf") format("truetype"),url("../Fonts/3d6b6348-e05f-4123-b19a-3bfd02c7f361.svg#3d6b6348-e05f-4123-b19a-3bfd02c7f361") format("svg");
}

$fontProximaCondLight: "Proxima N W15 Cd Light", $fontDefault;
@font-face{
font-family:"Proxima N W15 Cd Light";
src:url("../Fonts/71d27047-aee7-4513-aa39-93acec4189af.eot?#iefix");
src:url("../Fonts/71d27047-aee7-4513-aa39-93acec4189af.eot?#iefix") format("eot"),url("../Fonts/69d0a741-16e2-4ba2-9f9d-4fbe3d972acf.woff") format("woff"),url("../Fonts/c650156e-a72f-4031-8687-7e3519940f30.ttf") format("truetype"),url("../Fonts/d1116fb4-2dec-4fad-b64c-4ed24e4d3db0.svg#d1116fb4-2dec-4fad-b64c-4ed24e4d3db0") format("svg");
}

$fontProximaCondSemiBold: "Proxima N W15 Cd Smbd", $fontDefault;
@font-face{
font-family:"Proxima N W15 Cd Smbd";
src:url("../Fonts/d98fcd0d-5b66-4059-8543-8b20d2df6c4e.eot?#iefix");
src:url("../Fonts/d98fcd0d-5b66-4059-8543-8b20d2df6c4e.eot?#iefix") format("eot"),url("../Fonts/25fea31c-0cde-4457-b875-139b2f814d65.woff") format("woff"),url("../Fonts/8304ee6d-ecc7-4c17-bc8d-86f956dd63ed.ttf") format("truetype"),url("../Fonts/b08d6b72-1661-499a-be7b-a62094eab547.svg#b08d6b72-1661-499a-be7b-a62094eab547") format("svg");
}

