#mainNav{
    background-image: url(http://localhost/coatingInspectors.com/www/assets/img/Navigation/header_background.png);
    position: relative;
    left: 0px;
    top: 0px;
    height: 50px;
    z-index: 999;
    #menuButton{
      position: absolute;

    }
    #bannerPhone{
      font-family: arial;
      color: white;
      font-size: 2em;
      left: 86px; 
      position: relative;
    }
   /*   #navBannerImage{
        background-image: "/assets/img/Navigation/header_background.png";
        height: 53px;
        position: relative;
        top: 5px;
        background-repeat: repeat-x;
  */
      }    
    ul{
      display: block;
      height: 47px;
      padding: 0px 0px 0px 30px;
      margin: 0px;
      position: absolute;
      width: 996px;
      background-repeat: no-repeat;
      top:14px;
      left: 0px;
    }
    li{
      float: left;
      position: relative;
      padding-left: 21px;
      font-weight: bolder;
      margin-top: 0px;
      font-size: 1.5em;
      a{
        color:#e1477e;
        text-decoration: none;
      }
      
    }
    #facebookNav{
      padding-left: 10px;
    }
    .navSelected {
      text-decoration: underline;
    }